name: Sync Fork

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: aormber/Fork-Sync-With-Upstream-action@v1.2
        with:
          target_repo_token: ${{ secrets.GITHUB_TOKEN }}
          upstream_sync_repo: OWNER/REPO  # Repo original
          upstream_sync_branch: main
          target_sync_branch: main
